doctype html
html(lang='en')
    body
    form(id="form" action="/blocks" method="get")
        input(id="handle" type="text" name="handle" value='' placeholder="User")
        input(id="button" type="submit" value="Search")

        p Not all blocks are shown, only the latest.

    if !userFound
        p= textVal

    if userFound
        if blocks.length > 0
            p= `@${handle} bloqueado por:`
            table(border=1)
                tr 
                    th #
                    th User 
                    th Display name
                    th Date

                each val, idx in blocks
                    tr
                        td= idx+1
                        td: a(href='https://bsky.app/profile/'+val.did) #{(val.handle.length > 0) ? `@${val.handle}` : val.did}
                        td= val.displayName
                        td(style='text-align:center')= val.indexedAt
