include layout.pug
    p= `50 most blocked people in the last 24 hours:`
    table
        tr 
            th #
            th User 
            th Display name
            th(width='50px') # of blocks
            th Most recent

        each val, idx in query
            tr
                td= idx+1
                td: a(href='https://bsky.app/profile/'+val.subject) #{(val.handle.length > 0) ? `@${val.handle}` : val.subject}
                td= val.displayName
                td(style='text-align:center')= val.count
                td= new Date(val.mostRecent).toTimeString()
